<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="IPC_ADDRESS" value="net.pipe://localhost/NCP_CallRecorder/IPC"/>
    <add key="ROOT_FILE_FOLDER" value="\\schear-fs\SecureShare$\CallRecording\mech"/>
    <add key="KEY_LOC" value="\\schear-fs\SecureShare$\CallRecording\key"/>
  
    <add key="SMTP_HOST" value="192.168.100.12"/>
    <add key="SMTP_PORT" value="25"/>
    <add key="FROM_ADDRESS" value="Alerts@schear.net"/>
    <add key="FROM_NAME" value="NCP ALERTS"/>
    <add key="FROM_ACCOUNT" value="Alerts"/>
    <add key="FROM_PASSWORD" value="n0+!fiCat1on$"/>
    <add key="TO_ADDRESS" value="callrecordingemailservice@w-2xqye6jmda2p0in8v0x07zkrjp4oauji0mttda3t8k1m061d88.55-6fnleaq.cs41.apex.sandbox.salesforce.com"/>
  </appSettings>
</configuration>