<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="IPC_ADDRESS" value="net.pipe://localhost/NCP_CallRecorder/IPC"/>
    <add key="ROOT_FILE_FOLDER" value="\\schear-fs\SecureShare$\CallRecording\mech"/>
    <add key="KEY_LOC" value="\\schear-fs\SecureShare$\CallRecording\key"/>
  </appSettings>
</configuration>