<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="agsXMPP" version="1.1.1.0" targetFramework="net452" />
  <package id="cef.redist.x64" version="3.2623.1401" targetFramework="net452" />
  <package id="cef.redist.x86" version="3.2623.1401" targetFramework="net452" />
  <package id="CefSharp.Common" version="49.0.1" targetFramework="net452" />
  <package id="CefSharp.WinForms" version="49.0.1" targetFramework="net452" />
  <package id="Microsoft.AspNet.Cors" version="5.0.0" targetFramework="net452" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net452" />
  <package id="Microsoft.Owin.Cors" version="3.0.1" targetFramework="net452" />
  <package id="Microsoft.Owin.Diagnostics" version="3.0.1" targetFramework="net452" />
  <package id="Microsoft.Owin.FileSystems" version="3.0.1" targetFramework="net452" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.0.1" targetFramework="net452" />
  <package id="Microsoft.Owin.Hosting" version="3.0.1" targetFramework="net452" />
  <package id="Microsoft.Owin.Security" version="3.0.1" targetFramework="net452" />
  <package id="Microsoft.Owin.SelfHost" version="3.0.1" targetFramework="net452" />
  <package id="Microsoft.Owin.StaticFiles" version="3.0.1" targetFramework="net452" />
  <package id="Owin" version="1.0" targetFramework="net452" />
</packages>